@use "./../variables" as v

.create-layer
    display: flex
    margin: 0 auto
    flex-direction: column
    & > div
        display: flex
        justify-content: space-between
        div
            text-align: center
            flex: 0 0 auto
            align-self: center
        &:first-child
            align-self: flex-start
            margin: 0 0 2vh
        &:last-child
            align-self: flex-end
    span
        margin: auto
        text-align: center
        font-size: v.$fs-1
        color: v.$names-grey


    .btn-game-bull-out
        width: 100%
        margin: 2vh 0 6vh 0
