@use "./../variables" as v

.create-layer
    height: 100%
    display: flex
    margin: 0 auto
    flex-direction: column
    flex-wrap: nowrap
    max-width: 576px

    & > div
        display: flex
        margin: 0 0 2vh

        &:first-child
            align-self: flex-start
            justify-content: space-between
            & > div
                text-align: center
                color: v.$white

        &.player-setup
            flex-direction: column
            align-items: center
            justify-content: center
            flex: 1 1 100%
            gap: 2vh
            & > div
                text-align: center
                width: 100%
            .player-add
                color: v.$white

        &:last-child
            align-self: flex-end
            justify-content: center
