@use "./../variables" as v

.sort-layer
    height: 100%
    display: flex
    margin: 0 auto
    flex-direction: column
    flex-wrap: nowrap
    max-width: 576px

    & > div
        display: flex
        margin: 0 0 2vh
        justify-content: center

    .player-list
        overflow: scroll
        cursor: default
        flex: 1 1 100%
        flex-direction: column
        gap: 2vh

        .player
            position: relative
            background-color: v.$white

            .sort-icon
                position: absolute
                padding: 0 1rem

                &.right
                    right: 0

                &.left
                    left: 0
