@use "./../variables" as v

.sort-layer
    display: flex
    flex-direction: column
    justify-content: center
    gap: 20px
    height: 100%
    width: 100%
    max-width: 478px
    max-height: v.$content-height
    @media screen and (max-width: 575px)
        max-height: 98vh

    & > div
        display: flex
        flex-direction: column
        justify-content: center

    .player-list
        overflow: scroll
        cursor: default
        flex: 1 1 100%
        flex-direction: column
        gap: 2vh

        .player
            position: relative
            background-color: v.$white

            .sort-icon
                position: absolute
                padding: 0 1rem

                &.right
                    right: 0

                &.left
                    left: 0
