@charset "UTF-8"
@import "./bulma_customize/bulma.sass"
// COLORS
$app-black: #282a38
$app-white: #fde1d0
$red: #d95652
$green: #528b6e
$hover: #58a6ff
$background: #38394d
$dartscount: #282938
$names-grey: #a4a4af
$menu-gradient: linear-gradient(90deg, rgba(40,41,56,1) 0%, rgba(31,33,50,1) 100%)
// OVERRIDES
html, body
    margin: 0
    font-size: 16px
    background-color: $background
    height: 100%
    overflow: hidden
    color: $white

.label,.content h1, .content h2, .content h3, .content h4, .content h5, .content h6
    color: $white
    line-height: 1.5
    font-weight: 400

svg
    use:hover, circle:hover, rect:hover, text:hover
        fill: $hover

.button
    margin-top: 1rem
    border: none
    color: $white
    &.btn-undo
        background-color: $red
        width: 100%

.navbar-brand
    min-height: 2rem

.hero-body
    padding: 1rem
// OVERRIDES END
// RECORDS
.record-items
    margin-top: 0.25em
    justify-content: space-between
    font-size: 4em
    .record-item
        display: inline-flex
        justify-content: center
        align-items: baseline
        border-radius: 30px
        text-align: center
        line-height: 1em
        font-weight: 700
        flex-grow: 0
        flex-basis: 27.5%
        padding: 0
        background-color: $dartscount
        span
            margin: 0 0 10px

// ENDRECORDS
// PLAYER DARTBOARD SCREEN
.plys
    margin: 2em 0
    padding: 0.5em 0
    text-align: center
    h1
        font-size: 4em
        font-weight: 700
    h2
        font-size: 2em
    h3
        font-size: 1.5em
    .ply
        & > * :not(.ply-name)
            margin-top: 1em
        .ply-name
            color: $names-grey
        .ply-previous
            .ply-prevshots, .ply-prevshot
                justify-content: space-evenly
                margin: 0
                padding: 0
            .ply-prevshot
                color: $names-grey
        .ply-score
            margin: 0.25em 0 0.25em
        .ply-avg
        .ply-legs
            margin: 0.5em 0 0.5em
            justify-content: center
            align-content: flex-start
            gap: 0.25em
            flex-flow: row wrap
            .filled, .empty
                flex-basis: 17%
                flex-grow: 0
                width: 0.5em
                height: 0.5em
                border-radius: 3px
            .filled
                background-color: $names-grey
            .empty
                background-color: $dartscount
    .ply-active
        background-color: $dartscount
        .ply-name
            color: $white
        .ply-legs
            margin: 0.5em 0 0.5em
            .filled
                background-color: $names-grey
            .empty
                background-color: $background



.container.dev
    font-family: monospace
    border: 1px solid white
    color: $white