@charset "UTF-8"
@import "./bulma_customize/bulma.sass"
// COLORS
$app-black: #282a38
$app-white: #fde1d0
$red: #d95652
$green: #528b6e
$hover: #58a6ff
$background: #38394d
$dartscount: #282938
$names-grey: #a4a4af
$menu-gradient: linear-gradient(90deg, rgba(40,41,56,1) 0%, rgba(31,33,50,1) 100%)

html, body
    margin: 0
    font-size: 16px
    background-color: $background
    height: 100%
    overflow: hidden
    color: $white

.label,.content h1, .content h2, .content h3, .content h4, .content h5, .content h6
    color: $white
    line-height: 1.5
    font-weight: 400

svg
    use:hover, circle:hover, rect:hover, text:hover
        fill: $hover

.button
    margin-top: 1rem
    border: none
    color: $white
    &.btn-undo
        background-color: $red
        width: 100%

.navbar-brand
    min-height: 2rem

.hero-body
    padding: 1rem

.plys
    h1
        font-size: 5em
        font-weight: 700

    .legs
        justify-content: flex-start
        align-content: flex-start
        gap: 0.25em
        flex-flow: row wrap
        padding: 2em 0.25em 2em 0.25em
        .emptyLeg
            align-content: space-between
            flex-basis: 17%
            flex-grow: 0
            flex-shrink: 5
            background: $dartscount
            width: 0.5em
            height: 0.5em
            border-radius: 3px



.container.dev
    border: 1px solid white
    color: $white