:root {
    --backgroundColor:  #010304
}

body {
    background-color: var(--backgroundColor)
}

use:hover, circle:hover, rect:hover, text:hover
{
    fill: #58a6ff;
}

text:hover
{
    pointer-events: none;
}

.player-active {
    background-color: #282938;
    color: white;
}