@use "./../variables" as v

.game-layer
    margin: 0 1rem
    svg
        max-height: v.$content-height
    use, circle, rect
        transition-property: fill
        transition-timing-function: ease-out
        transition-delay: 0s
        transition-duration: 0.5s
        &:hover
            fill: v.$hover
            transition: 0s

    .player-stats-container
        width: calc(50% - 4vw)
        margin: 1.3vw 2vw
        display: flex
        flex-direction: column
        justify-content: space-between
        overflow: hidden
        text-align: center
        .button-undo
            background: v.$red
            border: none
            padding: 1.3vw 0
            color: v.$white
            font-size: v.$fs-2
            border-radius: 0.7vw
            cursor: pointer
        .player-wrapper
            overflow: scroll
            justify-content: space-around
            .player
                color: v.$white
                border-radius: 0.7vw
                .player-stats
                    overflow: scroll
                .name
                    margin: 1vw 0
                    color: v.$white
                .score
                    margin: 1.8vw 0
                    font-size: v.$fs-1
                .prev-score
                    margin-top: 0.2vw
                    margin-bottom: 0.1vw
                .average
                    color: v.$white
                    margin: 0 0 1.2vw
                .prev-darts
                    font-size: v.$fs-3
                    margin: 0 .4vw
                .wrapper-sets-legs
                    padding-bottom: 2vw
                    .legs
                        div
                            width: 0.6vw
                            height: 0.6vw
                            display: inline-block
                            margin: 0 0.2vw
                            border-radius: 0.2vw
                        .empty
                            background: v.$app-black
                        .filled
                            background: v.$names-grey
                .name, .prev-score, .average
                    font-size: v.$fs-2
                &.active
                    background: v.$app-black
                    .name
                        color: v.$white
                    .legs
                        .empty
                            background: v.$background
                &.inactive
                    .name
                        color: v.$names-grey
                    .legs
                        .empty
                            background: v.$app-black
        .player-record
            margin: 2vw 0
            justify-content: space-between
            .record-item
                background: v.$app-black
                border-radius: 0.7vw
                margin: 0
                color: v.$white
                font-size: v.$fs-1
    #outer-dart-board
        color: v.$white
        .dartboardContainer
            max-height: v.$content-height
            text-align: center
