.ld-input
    padding: 0.3rem
    border-radius: 0.5rem
    font-size: 2.5em
    text-align: center
    border: none
    &:focus-visible
        border: none !important

.ld-select
    border: none
    border-radius: 0.5rem
    font-size: 2.5em
    -webkit-appearance: none
    -moz-appearance: none
