@use "variables" as v
$header-height: 2rem
$footer-height: 2rem

// OVERRIDES
body, button, input, optgroup, select, textarea, label
    font-family: 'Jost', sans-serif !important
    width: 100%

svg
    max-height: calc(100vh - 4rem)
    use, circle, rect
        transition-property: fill
        transition-timing-function: ease-out
        transition-delay: 0s
        transition-duration: 0.5s
        &:hover
            fill: v.$hover
            transition: 0s

*
    margin: 0
    padding: 0
    box-sizing: border-box

#app
    height: 100vh
    width: 100vw
    background-color: v.$background

header
    height: $header-height
footer
    height: $footer-height

main
    height: 100vh - calc(#{$header-height} + #{$footer-height})
    width: 100%
    .container
        display: flex
        flex-direction: column
        & > *
            display: flex

.display-none
    display: none

/* LAYERS */

.create-layer, .sort-layer
    max-width: 575px
