
//@import "./bulma_customize/bulma.sass"
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;700&display=swap')
@import "~bootstrap"
// OVERRIDES
body, button, input, optgroup, select, textarea, label
    font-family: 'Jost', sans-serif !important
    width: 100%

svg
    use:hover, circle:hover, rect:hover, text:hover
        fill: $hover

*
    margin: 0
    padding: 0
    box-sizing: border-box

.all
    height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    gap: 1rem
    background-color: $background
    padding: 0 1rem

header
    height: 2rem
footer
    height: 2rem
main
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: calc(100% - 4rem)
    width: 100%
    .container
        display: flex
        flex-direction: column
        & > *
            display: flex

.display-none
    display: none



