// OVERRIDES
body, button, input, optgroup, select, textarea, label
    font-family: 'Jost', sans-serif !important
    width: 100%

svg
    use:hover, circle:hover, rect:hover, text:hover
        fill: $hover

*
    margin: 0
    padding: 0
    box-sizing: border-box

#app
    height: 100vh
    width: 100vw
    background-color: $background

header
    height: 2rem
footer
    height: 2rem

main
    height: calc(100vh - ($header-height + $footer-height))
    width: 100%
    .container
        display: flex
        flex-direction: column
        & > *
            display: flex

.display-none
    display: none

/* LAYERS */

// CREATE
.create-layer
    max-width: 575px
    .ld-input-score,
    .ld-input-sets,
    .ld-input-legs,
    .ld-label-score,
    .ld-label-sets,
    .ld-label-legs
        display: flex
        >div
            width: 80%
        label, select
            text-align: center
        label
            font-size: 2.5rem
            color: $names-grey
    .ld-input-score, .ld-label-score
        justify-content: start
    .ld-input-sets, .ld-label-sets
        justify-content: center
    .ld-input-legs, .ld-label-legs
        justify-content: end
    .label-group
        margin-bottom: 1rem
    .input-group
        margin-top: 1rem
        margin-bottom: 4rem
    .outer-player-input-group
        overflow: scroll
        .player-input-group
            margin-top: 2rem
            overflow: scroll
            .player-input
                margin-top: 2rem
                margin-bottom: 2rem
            .player-input:first-child
                margin-top: 0
            .player-input:last-child
                margin-bottom: 0
        .btn-add-player
            text-align: center
            padding: 2rem 0 0
            background: $background
            position: sticky
            bottom: 0
            cursor: pointer
            i
                color: $white
                font-size: 2.5rem
    .btn-game-bull-out
        margin-top: 2rem
        margin-bottom: 4rem
