@use "variables" as v

// OVERRIDES
body, button, input, optgroup, select, textarea, label
    font-family: 'Jost', sans-serif !important
    width: 100%

*
    margin: 0
    padding: 0
    box-sizing: border-box

#app
    height: 100vh
    width: 100vw
    background-color: v.$background

header
    height: v.$header-height
footer
    height: v.$footer-height

main
    height: v.$content-height
    max-width: v.$content-width

.display-none
    display: none

/* LAYERS */

.create-layer, .sort-layer
    position: relative
    height: 100%
    max-width: 575px
